# Android Studio & IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/
**/build/
gradle-app.setting
gradlew
gradlew.bat

# Local properties
local.properties
*.keystore

# Kotlin
*.class
*.kotlin_module

# Log files
*.log

# OS-specific
.DS_Store
Thumbs.db

# Misc
*.apk
*.ap_
*.cxx/
*.lock